:host {
  --_tree-fg: var(--rowan-tree-fg, var(--rowan-color-fg));
  --_tree-font-family: var(--rowan-tree-font-family, var(--rowan-font-family));
  display: block;
}

:host([hidden]) {
  display: none;
}

.tree {
  color: var(--_tree-fg);
  font-family: var(--_tree-font-family);
}
