:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.divider {
  background: var(--rowan-divider-color, var(--rowan-color-border));
  display: block;
  height: var(--rowan-border-width);
  width: 100%;
}

:host([orientation="vertical"]) {
  display: inline-block;
  height: 100%;
}

:host([orientation="vertical"]) .divider {
  height: 100%;
  width: var(--rowan-border-width);
}
